packages
WearableMath.Touch.UITests/bin
WearableMath.Touch.UITests/obj
WearableMath.Touch/bin
WearableMath.Touch/obj
WearableMath.TouchWatchKitApp/bin
WearableMath.TouchWatchKitApp/obj
WearableMath.TouchWatchKitExtension/bin
WearableMath.TouchWatchKitExtension/obj
WearableMath.Droid/obj
WearableMath.Portable/bin
WearableMath.Portable/obj
WearableMath.Wear/bin
WearableMath.Wear/obj
WearableMath.Droid/bin
